# MongoDB connection string
# Example environment variables
# Copy this file to `.env` and replace <DB_PASSWORD> with your real password.
# DO NOT commit your real `.env` to version control.

MONGODB_URI=mongodb+srv://prashantsuryavanahi51781_db_user:Prashant123@cluster0.vtuci6q.mongodb.net/?appName=Cluster0